{# src/Louvre/BookingBundle/Resources/views/Booking/delete.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}Suppression du ticket pour le Louvre N°{{ id }} !{% endblock %}

{% block body %}

<h1>Ticket N°{{ id }} delete</h1>
    <p>
        bla bla !bla bla ! bla bla ! bla bla ! bla bla !
    </p>

{% endblock %}
